{{page-title "Details"}}
<h1 class="ui block header center aligned ">
  <LinkTo @route="home">
    <i class="angle left icon"></i>
  </LinkTo>
  <div class="ellipsis">{{model.title}}</div>
</h1>

<div class="ui container">
  <img class="ui centered image"  src={{model.company_logo}} />
  <h1>{{model.title}}</h1>
  <h3>{{model.type}}</h3>
  <p><a href={{model.company_url}}>{{model.company}}</a> - {{model.location}}</p>

  <h3>Details</h3>
  <p>{{html-safe model.description}}</p>
</div>